body {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  color: white;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  /* adjusted width so text cross columns take the same width */
  width: 650px;
  height: 360px;

  display: flex;

  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-family: 'Big Shoulders', sans-serif;
  font-size: x-large;
  text-transform: uppercase;
}

.description {
  font-family: 'Lexend Deca', sans-serif;
  font-size: x-small;
  font-weight: 400;
  line-height: 1rem;
  opacity: 0.6;
}

.sedan-car {
  background-color: hsl(31, 77%, 52%);
  flex: 1;
  padding: 30px;
}

.suv-car {
  background-color: hsl(184, 100%, 22%);
  flex: 1;
  padding: 30px;
}

.luxury-car {
  background-color: hsl(179, 100%, 13%);
  flex: 1;
  padding: 30px;
}

.car-container {
  display: flex;

  /* these two go together, can use instead of gap */
  justify-content: space-between;
  height: 200px;

  flex-direction: column;
  align-items: start;
  /* think about using flex here instead */
  margin-bottom: 50px;
}

img {
  height: 30px;
  weight: 30px;
  object-fit: contain;
}

button {
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 30px;

  font-family: 'Lexend Deca', sans-serif;
  font-size: x-small;
  font-weight: 400;
  background-color: white;
}

.sedan-car button {
  color: hsl(31, 77%, 52%);
}

.suv-car button {
  color: hsl(184, 100%, 22%);
}

.luxury-car button {
  color: hsl(179, 100%, 13%);
}

.car-and-button-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 230px;
    min-height: 100vh;
    overflow: visible;
  }

  .car-container {
    /* this won't be necessary with flex outside media queries */
    margin-bottom: 25px;
  }

  .sedan-car {
    border-radius: 10px 10px 0px 0px;
  }

  .luxury-car {
    border-radius: 0px 0px 10px 10px;
  }
}
